extends ../layout

block content 
    link(rel="stylesheet", href="/css/commu/community.css")
    script(src="/js/commu/community.js")
    body
        a(href="/voca") ◀
        div.back
                
            div.mainList
                form.like(method ="POST") 
                    each item in VOCAS
                        - const isLiked = LIKE.some(like => like.like_vseq === item.v_seq)
                        div.element.item(data-v_seq= `${item.v_seq}`)
                            span.item.a.mid=item.v_name

                            div.bottom
                                div.id.item.a.top(data-v_seq= `${item.v_seq}`)
                                    if item.v_멤버.m_image
                                        img.item.a(src=`/uploads/${item.v_멤버.m_image}`, alt="" width="80px")
                                    else 
                                        img.item.a(src="/images/bear.png", alt="프로필사진" width="80px")
                                    span.item.a.id=item.v_멤버.m_nick
                                div.item.a.input(data-v_seq= `${item.v_seq}`)
                                    if isLiked
                                        label.button.like
                                            img.heart(src="/images/heart.png", alt="" width="40px")
                                    else
                                        label.button.like
                                            img.heart(src="/images/nullheart.png", alt="" width="40px")
                                    span.good(name="v_rec").item.a= item.v_rec

                                