extends ../layout

block content
    link(rel="stylesheet", href="/css/commu/detail.css")
    
    div.back
        
    div.name_box
        h3.voca_name=voca.v_name
    div.scroll
        each word in rows
            
            section.img_box
                img.sprout(src="/images/sprout.png", alt="")
            div.word_box
                div.inform_box
                    div.word.f
                        h6 영단어
                        p= word.w_word
                    div.mean.f
                        h6 단어뜻 
                        p= word.w_mean
                    div.pron.f
                        h6 발음
                        p= word.w_pron
                    div.memo.f 
                        h6 메모
                        p=word.w_memo
                div.btn_box
    div.comment
        h6 닉네임
        p 닉네임이름,사진
        h6 댓글내용
        form(method="POST")
            input(type="text" name="c_comment")
            button 확인

                            
                            
