extends ../layout

block content
    link(rel="stylesheet", href="/css/commu/detail.css")
    script(src="/js/commu/detail.js")
    
    div.back
        a(href="/commu/vocas") ◀
    div.name_box
        if voca 
            h3.voca_name=voca.v_name
        else if rows
            h3.voca_name=rows.v_name
    div.com.b
        img.bear(src="/images/bear.png", alt="")
        p 이런단어가 있어요!
        button.view_word 단어보기
        button.view_com 댓글보기
    div.scroll
        if rows.length > 0
            each word in rows
                section.img_box
                    img.sprout(src="/images/sprout.png", alt="")
                div.word_box
                    div.inform_box
                        div.word.f
                            h6 영단어
                            p= word.w_word
                        div.mean.f
                            h6 단어뜻 
                            p= word.w_mean
                        div.pron.f
                            h6 발음
                            p= word.w_pron
                        div.memo.f 
                            h6 메모
                            p=word.w_memo
                    div.btn_box
        else
            div.null_word
                img.null_word(src="/images/nullleaf.png", alt="")
                p 이 단어장은 비어있어요..
    div.com
        img.bear(src="/images/bear.png", alt="")
        p 이런댓글이 달렸어요!
    div.comment
        if COMMENT.length >0      
            each item in COMMENT
                article.com_box
                    div.box
                        if item.c_유저.m_image
                            img.u(src=`/uploads/${item.c_유저.m_image}`, alt="" width="80px")   
                        else 
                            img.u(src="/images/usericon.png" width="80px")
                        p.id= item.c_유저.m_nick
                    form.update(method="POST") 
                        //- input.c_seq(value=item.c_seq name="c_seq")
                        //- input.c_user(value=item.c_user name="c_user")
                        //- input.c_vseq(value=item.c_vseq name="c_vseq")
                        input.c_comment(value=item.c_comment name="c_comment")
                        if item.c_유저.m_id === user
                            div.buttonBox(data-c_seq = `${item.c_seq}`, data-v_seq = `${item.c_단어장.v_seq}`)
                                input.delete(type="button" value="삭제")
                                input.btnupdate(type="button" value="수정")
                                //- a.update(href=`/commu/${item.c_단어장.v_seq}/detail/update/${item.c_seq}`) 수정      
                        else
        else
            article.null_box
                img(src="/images/bear.png", alt="" width="150px")
                h1 댓글이 없어요!
                p 첫번째 댓글을 작성해보세요!

    div.inputBox
        form.input(method="POST")
            article.comment_box
                input.comment(type="text" name="c_comment" placeholder="댓글을 입력하세요!")
                input.save(type="submit" value="추가")