extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/add_words.css")
    script(src="/js/voca/add_words.js")
    if word
        div.back
            a(href=`/voca/${word.w_vseq}/words`) ◀
    else 
        div.back
            a(href="/voca") ◀
    div.word_inputbox
        img(src="/images/bear.png", alt="곰" width="200px")
        div.name_box
            if newvoca_name
                h3.name= newvoca_name
            if voca_name
                h3.name= voca_name
        div.add_words
            form.add_words(method="POST")
                p * 필수입력
                input.word(type="text" name="w_word" placeholder="영어단어" value= word? word.w_word : "")
                p * 필수입력
                input.mean(type="text" name="w_mean" placeholder="뜻" value= t_word ? t_word : (word? word.w_mean : ""))
                input(type="text" name="w_pron" placeholder="발음" value= word? word.w_pron : "")
                input(type="text" name="w_memo" placeholder="메모" value= word? word.w_memo : "")
                div.btn_box
                    a.list(href="/voca")
                        button(type="button") 단어장 리스트로
                    if word 
                        button.add(type="submit"  disabled="true") 저장
                    else    
                        button.add(type="submit"  disabled="true") 단어추가
            div.trans_bar
                button.auto(type="button") 자동입력
            if newvoca_seq
                form.trans(action=`/voca/${newvoca_seq}/add_words/wordsearch`) 
                    input.trans(type="text" placeholder="영단어입력" name="search")
                    button.trans 안보이는버튼 자동입력누르면 여기를 누른걸로 치게 js 보이는버튼은 뜻옆에
                    p= t_word
            //- //-         p 이제 여기서 뜻옆에 버튼을누르면 영어단어 칸에 입력한걸 아래번역칸에 집어넣게하고..
            //-         p 번역버튼을 누르면 아래번역칸 버튼누른걸로 할 js작성
            //-         p 그리고 번역된 t_word 가 뜻 칸에 들어가도록